@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans.woff2') format('woff2'),
    url('../fonts/OpenSans.woff') format('woff'),
    url('../fonts/OpenSans.ttf') format('truetype'),
    url('../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold.woff') format('woff'),
    url('../fonts/Raleway-Bold.ttf') format('truetype'),
    url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    background-color: #24282f;
    padding-top: 31px;
}
.container{
    margin: auto;
    max-width: 1064px;
    padding: 0 15px;
}
header .container{
    display: flex;
    justify-content: space-between;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    margin-left: 52px;
}
header nav ul li a{
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans';
}

header nav ul li:after{
    content: "";
    display: block;
    margin-top: 33px;
    width: 0;
    height: 2px;
    background-color: #b5a263;
    transition: 0.3s;
}

header nav ul li:hover:after{
    width: 100%;
}

section article h1{
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway';
}
section article p{
    font-size: 11px;
    color: white;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
}
.about_us{
    background-image: url("../images/bg_aboutus.jpg");
    background-size: cover;
    padding: 70px 0;
}
.wrapper{
    max-width: 888px;
    margin: auto;
    text-align: center;
    padding: 0 15px;
}
.header2{
    font-size: 20px;
    color: #24282f;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.header2:after{
    content: "";
    display: block;
    height: 1px;
    width: 60px;
    background-color: #b5a263;
    margin: auto;
    margin-top: 23px;
}
.management{
    padding: 122px 0 24px;
}
.wrapper_container{
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    text-align: left;
}
.name{
    font-size: 13px;
    color: #232323;
    text-transform: uppercase;
    margin-top: 23px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.position{
    font-size: 11px;
    color: #b5a263;
    font-family: 'Open Sans', sans-serif;
}
.showall{
    padding: 13px 30px;
    border: 1px solid #7c7e82;
    border-radius: 50px 50px;
    margin-top: 33px;
    font-size: 13px;
    color: #24282f;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}
.showall:hover{
    background-color: #2b2f36;
    color: #b5a263;
    transition: 0.2s;
}
.flexing{
    display: flex;
    justify-content: space-between;
}
.soc_icon{
    text-align: center;
    line-height: 27px !important;
    width: 27px;
    background-color: #dedede;
    display: inline-block;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    margin-top: 23px;
}
.soc_icon:hover{
    background-color: #2b2f36;
    color: #b5a263;
    transition: 0.2s;
}
.review{
    background-color: #f7f7f7;
    padding: 94px 0;
}
.clientssay:after{
    background-color: #24282f;
}
.larryjane{
    margin-top: 50px;
}
.paragraph{
    margin-top: 31px;
    font: 11px/20px 'Open Sans', sans-serif;
    color: #000;
    font-weight: 300;
}
.name1{
    margin-top: 37px;
    color: #b5a263;
    font: 13px/25px 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.position1{
    font: 11px/25px 'Open Sans', sans-serif;
    color: #000;
}
.aboutfapor{
    text-align: left !important;
    padding: 62px 0 35px;
    background-color: #2b2f35;
    border-top: 1px solid #8b8d90;
}
.header3{
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #b5a263;
    text-transform: uppercase;
}
.paragraph2{
    line-height: 18px;
    color: #6e7279;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    margin-top: 25px;
}
.submit{
    margin-top: 8px;
    line-height: 29px;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #b5a263;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}
.email{
    background-color: #2b2f35;
    border: 2px solid #4b4f55;
    padding: 10px;
    width: 100%;
}
.respotheme{
    background-color: #24282f;
    border-top: 1px solid #8b8d90;
    line-height: 50px;
}
.paragraph3{
    font-size: 9px;
    color: #6e7279;
    font-family: 'Open Sans', sans-serif;
}
.soc_icon2{
    text-align: center;
    line-height: 24px !important;
    width: 27px;
    background-color: #24282f;
    display: inline-block;
    border-radius: 50%;
    color: #6e7279;
    border: 1px solid #6e7279;
    font-size: 14px;
}
.soc_icon2:hover{
    background-color: #b5a263;
    color: white;
    border: none;
    transition: 0.2s;
}
.submit:hover{
    color: black;
    transition: 0.2s;
    font-weight: bold;
}
footer .wrapper{
    text-align: left;
}
.aboutfapor_block1{
    width: 240px;
}
.aboutfapor_block2{
    width: 165px;
}
.paragraph2 a{
    color: #6e7279;
}
.paragraph2 a:hover{
    color: #b5a263;
}

.owl-nav .owl-prev{
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: 80px;
    font-weight: 900!important;
    font-family: "Font Awesome 5 Free"!important;
    outline: none;
}

.owl-nav .owl-next{
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 0;
    top: 80px;
    font-weight: 900!important;
    font-family: "Font Awesome 5 Free"!important;
    outline: none;
}

.owl-nav .owl-next:before {
    content: "\f105";
}

.owl-nav .owl-prev:before {
    content: "\f104";
}